body  {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border-radius: 50px;
  margin: 40px;
  font-family: "Courier New", Courier, monospace;
 
}

.app {
  background-image: url("cloud-background.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 30px;
  border-radius: 30px;
}

h2  {
  font-weight: bold;
  font-size: 40px;
}

.cityName {
  display:center;
  margin-left: 210px;
  margin-top: 60px;
  left: 50px;

}
.searchButton {
  background: #8ec5fc;
  color: #fff;
  border-radius: 6px;
  text-align: right;
  margin: 0;
}

.searchButton:hover {
  background: #e0c3fc;
  cursor: pointer;
}

.locationButton {
  background: #8ec5fc;
  border-radius: 6px;
  text-align: right;
  margin: 0;
}

.locationButton:hover {
  background: #e0c3fc;
  cursor: pointer;
}
.city {
  color: white;
  margin: 50px;
  margin-left: 200px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  width: 200px;
  
}
.temperature {
  color: white;
  margin: 50px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  width: 200px;
  display: margin-left;
  text-align: left;

  margin-top: 20px;
  margin-left: 50px;
}
.temp {
  font-size: 70px;
  color: #e0c3fc;
  position:relative;
  left: 80px;
}

.units {
  position: relative;
  font-size: 25px;
  color: #6593fa;
  top: -80px;
  left: 80px;
}
.degreesChange {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  position: relative;
  top: -100px;
  left: 230px;
}
a {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
.degrees:hover {
  color: #245bce;
  cursor: pointer;
}

.cityInfo {
  color: #8ec5fc;
}

.cityTemp {
  color: #e0c3fc;
}

#forecast{
  position:relative;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  left: 150px;
  margin-top: -150px;
  text-align:center;
  
}


.currentWeather {
  color:#245bce;
  font-size: 40px;
  font-weight: bold;
  left: 640px;
  top: -210px;
}
.currentWeather {
  position: relative;
  bottom: 50px;
  font-size: 30px;
}

.rowImages {
  color: #fde3f8;
  font-size: 50px;
}

.tempWeek {
  font-size: 20px;
  color: #fff;
}


.source {
    text-align: center;
    position: relative;
    top: 50px;
    color: #fff;
    font-weight: bold;
    line-height: 1px;

}

.git {
    color:#245bce;
    font-size: 20px;
    position: relative;
    top: 2px;


}

#icon {
  position: relative;
  bottom: 90px;
  left: 68px;
}